.App {
    background-color: blue;
}

.toolbar {
    padding-top: 50px;
    margin-left: 100px;
}

button {
    font-size: 16px;
    margin: 20px;
}

img {
    width: 30%;
    padding: 10px;
}

.selected {
    background-color: black;
    color: white;
}
